{% extends 'base.html' %}

{% block head %}

    <title>Settings</title>

{% endblock head %}


{% block body %}

    <form action="" method="POST">
        <select name="theme">
            {% if theme == 'light' %}
              <option value="light" selected>Light</option>
              <option value="dark">Dark</option>
            {% else %}
              <option value="light">Light</option>
              <option value="dark" selected>Dark</option>
            {% endif %}
        </select>
        <input type="submit" value="Submit">
    </form>




{% endblock body %}
